/* App.css or main CSS file */
.container {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  max-width: 1200px;
  margin: 0 auto;
  padding: 20px;
}

.left-column {
  flex: 1;
  margin-right: 20px;
}

.right-column {
  flex: 2;
}

.section {
  margin-bottom: 20px;
}

.section h3 {
  font-size: 1.8em;
  margin-bottom: 10px;
}

.profile {
  text-align: center;
  font-family: Arial, sans-serif;
  padding: 20px;
  border-radius: 8px;
  background-color: #F8FAFB;
}

.profile-image {
  width: 150px;
  height: 150px;
  border-radius: 50%;
  object-fit: cover;
  margin-bottom: 20px;
}

.profile h1 {
  font-size: 2.5em;
  margin: 0.2em 0;
}

.profile h2 {
  font-size: 1.5em;
  color: #666;
  margin: 0.2em 0;
}

.profile p {
  font-size: 1.1em;
  color: #333;
}

.profile-links {
  margin: 1em 0;
  display: inline-flex;
}

.profile-links a {
  margin: 0 10px;
  text-decoration: none;
  color: #0073b1;
}

.profile-links a:hover {
  text-decoration: underline;
}

button {
  background-color: #333; /* Darker blue for buttons */
  color: #fff;
  padding: 10px 20px;
  border: none;
  border-radius: 5px; /* Consistent rounded corners */
  cursor: pointer; /* Indicate clickable action */
  transition: background-color 0.2s ease-in-out;
}

button:hover {
  background-color: #333;
  color: white;
}

.profile-about,
.profile-skills {
  text-align: left;
  margin-top: 20px;
}

.profile-about h3,.profile-skills h3{
  font-family: monospace;
  font-size: 15px;
  font-weight: 300;
  color: #afafaf;

}

.profile-about p{
  margin-top: 0px;
}

.profile-skill h3 {
  font-size: 1.8em;
  margin-bottom: 10px;
}
.profile-skill {
  display: inline-block;
  background-color: #EEF2FF;
  border: 1px solid #EEF2FF;
  border-radius: 50px;
  padding: 5px 10px;
  margin: 5px;
  font-size: 0.9em;
  color:#4131F7;
}

.projects,
.experience,
.education {
  margin-bottom: 20px;
}

.project-list,
.experience-list,
.education-list {
  list-style: none;
  padding: 0;
}

.project,
.experience-item,
.education-item {
  border: 1px solid #ddd;
  padding: 15px;
  margin-bottom: 15px;
  border-radius: 5px;
}

.project h4,
.experience-item h4,
.education-item h4 {
  margin: 0 0 10px 0;
}

.project-image {
  width: 100%;
  height: auto;
  border-radius: 5px;
}


.read-more {
  display: block;
  margin-top: 10px;
  text-decoration: none;
  color: #0073b1;
}

.read-more:hover {
  text-decoration: underline;
}
